In [1]:


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.unicode rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The pgf.debug rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [3]:
ss=pd.read_csv("chennai.csv")

In [4]:
ss

,DISTRICT,Sheet,STATE-todel,ASSAULT ON WOMEN,DACOITY,DOWRY DEATHS,KIDNAPPING AND ABDUCTION,MAJOR_CRIMES_TOTAL,MURDER,RAPE,RIOTS,ROBBERY,THEFT,total_crime,YEAR
0,Ariyalur,2001-2012,Tamil nadu,64.0,0.0,1.0,26.0,233.0,27,20,19.0,9.0,76,1977,2010
1,Chennai,2001-2012,Tamil nadu,45.0,2.0,16.0,47.0,1858.0,103,47,60.0,74.0,1540,10869,2010
2,Chennai rly,2001-2012,Tamil nadu,2.0,1.0,2.0,0.0,250.0,0,0,14.0,58.0,232,647,2010
3,Chennai city,2001-2012,Tamil nadu,61.0,1.0,18.0,30.0,1059.0,86,29,85.0,102.0,750,8670,2010
4,Coimbatore,NaN,Tamil nadu,39.0,11.0,1.0,62.0,664.0,41,13,83.0,78.0,425,4806,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,SOUTH-WEST,2016,Delhi,389.0,NaN,NaN,NaN,NaN,58,171,5.0,225.0,6872,6936,2016
816,spl CELL,2016,Delhi,1.0,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0,1756,2016
817,SPUWAC,2016,Delhi,0.0,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0,3676,2016
818,VIGILANCE,2016,Delhi,0.0,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0,5243,2016
819,WEST,2016,Delhi,450.0,NaN,NaN,NaN,NaN,64,256,5.0,442.0,16944,1635,2016

In [5]:
ss['STATE-todel'].unique()

array(['Tamil nadu', 'Delhi', 'Kerala', 'Puducherry'], dtype=object)

In [6]:
ss["DISTRICT"].unique()

array(['Ariyalur', 'Chennai', 'Chennai rly', 'Chennai city', 'Coimbatore',
       'Coimbatore City', 'Cuddalore', 'Dharmapuri', 'Dindigul', 'Erode',
       'Kanchipuram', 'Kanyakumari', 'Karur', 'Krishnagiri', 'Madurai',
       'Madurai City', 'Nagapattinam', 'Namakkal', 'Nilgiris',
       'Perambalur', 'Pudukottai', 'Ramnathapuram', 'Salem', 'Salem City',
       'Sivagangai', 'Thanjavur', 'Theni', 'Thirunelveli',
       'Thirunelveli City', 'Thiruvallur', 'Thiruvannamalai',
       'Thiruvarur', 'Thoothukudi', 'Tiruppur', 'Trichy rly', 'Trichy',
       'Trichy City', 'Vellore', 'Villupuram', 'Virudhunagar',
       'Railway Chennai', 'Railway Trichy', 'Thoothugudi',
       'Tiruppur City', 'CENTRAL', 'DELHI UT TOTAL', 'EAST',
       'G.R.P.(RLY)', 'I.G.I. AIRPORT', 'NEW DELHI', 'NORTH',
       'NORTH EAST', 'NORTH WEST', 'S.T.F.', 'SOUTH', 'SOUTH WEST',
       'WEST', 'SPL CELL', 'IGI AIRPORT', 'NORTH-EAST', 'NORTH-WEST',
       'SOUTH-WEST', 'GRP(RLY)', 'STF', 'OUTER', 'CAW', 'CRIME BRANCH',
       'EOW', 'SOUTH-EAST', 'METRO', 'RAILWAY', 'spl CELL', 'SPUWAC',
       'VIGILANCE', 'ROHINI', 'SHAHDARA', 'DWARKA', 'Alapuzha',
       'Ernakulam Commr.', 'Ernakulam Rural', 'Idukki', 'Kannur',
       'Kasargod', 'Kollam', 'Kottayam', 'Kozhikode Commr.',
       'Kozhikode Rural', 'Malappuram', 'Palakkad', 'Pathanamthitta',
       'Railways', 'Thrissur', 'Thrissur Commr.', 'Trivandrum Rural',
       'Wayanadu', 'Kollam Commr', 'Kollam Rural', 'Trivandrum commd',
       'Kollam Commr.', 'Thrissur Rural', 'Trivandrum Commr.',
       'Crime Branch', 'PONDICHERRY', 'KARAIKAL', 'PUDUCHERRY',
       'Karaikal', 'Puducherry', 'METRO RAIL'], dtype=object)

In [7]:
ss.loc[ss['DISTRICT']=='Ariyalur', 'DISTRICT'] = 0
ss.loc[ss['DISTRICT']=='Chennai', 'DISTRICT'] = 1
ss.loc[ss['DISTRICT']=='Chennai rly', 'DISTRICT'] = 2
ss.loc[ss['DISTRICT']=='Chennai city', 'DISTRICT'] = 3
ss.loc[ss['DISTRICT']=='Coimbatore', 'DISTRICT'] = 4
ss.loc[ss['DISTRICT']=='Coimbatore City', 'DISTRICT'] = 5
ss.loc[ss['DISTRICT']=='Cuddalore', 'DISTRICT'] = 6
ss.loc[ss['DISTRICT']=='Dharmapuri', 'DISTRICT'] = 7
ss.loc[ss['DISTRICT']=='Dindigul', 'DISTRICT'] = 8
ss.loc[ss['DISTRICT']=='Erode', 'DISTRICT'] = 9
ss.loc[ss['DISTRICT']=='Kanchipuram', 'DISTRICT'] = 10
ss.loc[ss['DISTRICT']=='Kanyakumari', 'DISTRICT'] = 11
ss.loc[ss['DISTRICT']=='Karur', 'DISTRICT'] = 12
ss.loc[ss['DISTRICT']=='Krishnagiri', 'DISTRICT'] = 13
ss.loc[ss['DISTRICT']=='Madurai', 'DISTRICT'] = 14
ss.loc[ss['DISTRICT']=='Madurai City', 'DISTRICT'] = 15
ss.loc[ss['DISTRICT']=='Nagapattinam', 'DISTRICT'] = 16
ss.loc[ss['DISTRICT']=='Namakkal', 'DISTRICT'] = 17
ss.loc[ss['DISTRICT']=='Nilgiris', 'DISTRICT'] = 18
ss.loc[ss['DISTRICT']=='Perambalur', 'DISTRICT'] = 19
ss.loc[ss['DISTRICT']=='Pudukottai', 'DISTRICT'] = 20 
ss.loc[ss['DISTRICT']=='Ramnathapuram', 'DISTRICT'] = 21
ss.loc[ss['DISTRICT']=='Salem', 'DISTRICT'] = 22
ss.loc[ss['DISTRICT']=='Salem City', 'DISTRICT'] = 23
ss.loc[ss['DISTRICT']=='Sivagangai', 'DISTRICT'] = 24
ss.loc[ss['DISTRICT']=='Thanjavur', 'DISTRICT'] = 25
ss.loc[ss['DISTRICT']=='Theni', 'DISTRICT'] = 26
ss.loc[ss['DISTRICT']=='Thirunelveli', 'DISTRICT'] = 27
ss.loc[ss['DISTRICT']=='Thirunelveli City', 'DISTRICT'] = 28
ss.loc[ss['DISTRICT']=='Thiruvallur', 'DISTRICT'] = 29
ss.loc[ss['DISTRICT']=='Thiruvannamalai', 'DISTRICT'] = 30
ss.loc[ss['DISTRICT']=='Thiruvarur', 'DISTRICT'] = 31
ss.loc[ss['DISTRICT']=='Thoothukudi', 'DISTRICT'] = 32
ss.loc[ss['DISTRICT']=='Tiruppur', 'DISTRICT'] = 33
ss.loc[ss['DISTRICT']=='Trichy rly', 'DISTRICT'] = 34
ss.loc[ss['DISTRICT']=='Trichy', 'DISTRICT'] = 35
ss.loc[ss['DISTRICT']=='Trichy City', 'DISTRICT'] = 36
ss.loc[ss['DISTRICT']=='Vellore', 'DISTRICT'] = 37
ss.loc[ss['DISTRICT']=='Villupuram', 'DISTRICT'] = 38
ss.loc[ss['DISTRICT']=='Virudhunagar', 'DISTRICT'] = 39
ss.loc[ss['DISTRICT']=='Railway Chennai', 'DISTRICT'] = 40
ss.loc[ss['DISTRICT']=='Railway Trichy', 'DISTRICT'] = 41
ss.loc[ss['DISTRICT']=='Thoothugudi', 'DISTRICT'] = 42
ss.loc[ss['DISTRICT']=='Tiruppur City', 'DISTRICT'] = 43

In [8]:
ss["DISTRICT"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 'CENTRAL', 'DELHI UT TOTAL',
       'EAST', 'G.R.P.(RLY)', 'I.G.I. AIRPORT', 'NEW DELHI', 'NORTH',
       'NORTH EAST', 'NORTH WEST', 'S.T.F.', 'SOUTH', 'SOUTH WEST',
       'WEST', 'SPL CELL', 'IGI AIRPORT', 'NORTH-EAST', 'NORTH-WEST',
       'SOUTH-WEST', 'GRP(RLY)', 'STF', 'OUTER', 'CAW', 'CRIME BRANCH',
       'EOW', 'SOUTH-EAST', 'METRO', 'RAILWAY', 'spl CELL', 'SPUWAC',
       'VIGILANCE', 'ROHINI', 'SHAHDARA', 'DWARKA', 'Alapuzha',
       'Ernakulam Commr.', 'Ernakulam Rural', 'Idukki', 'Kannur',
       'Kasargod', 'Kollam', 'Kottayam', 'Kozhikode Commr.',
       'Kozhikode Rural', 'Malappuram', 'Palakkad', 'Pathanamthitta',
       'Railways', 'Thrissur', 'Thrissur Commr.', 'Trivandrum Rural',
       'Wayanadu', 'Kollam Commr', 'Kollam Rural', 'Trivandrum commd',
       'Kollam Commr.', 'Thrissur Rural', 'Trivandrum Commr.',
       'Crime Branch', 'PONDICHERRY', 'KARAIKAL', 'PUDUCHERRY',
       'Karaikal', 'Puducherry', 'METRO RAIL'], dtype=object)

In [9]:
ss.loc[ss['DISTRICT']=='CENTRAL', 'DISTRICT'] = 44
ss.loc[ss['DISTRICT']=='DELHI UT TOTAL', 'DISTRICT'] = 45
ss.loc[ss['DISTRICT']=='EAST', 'DISTRICT'] = 46
ss.loc[ss['DISTRICT']=="G.R.P.(RLY)", 'DISTRICT'] = 47
ss.loc[ss['DISTRICT']=='I.G.I. AIRPORT', 'DISTRICT'] = 48
ss.loc[ss['DISTRICT']=='NEW DELHI', 'DISTRICT'] = 49
ss.loc[ss['DISTRICT']=='NORTH', 'DISTRICT'] = 50
ss.loc[ss['DISTRICT']=="NORTH EAST", 'DISTRICT'] = 61
ss.loc[ss['DISTRICT']=='NORTH WEST', 'DISTRICT'] = 62
ss.loc[ss['DISTRICT']=="S.T.F.", 'DISTRICT'] = 63
ss.loc[ss['DISTRICT']=='SOUTH', 'DISTRICT'] = 64
ss.loc[ss['DISTRICT']=='SOUTH WEST', 'DISTRICT'] = 65
ss.loc[ss['DISTRICT']=='WEST', 'DISTRICT'] = 66
ss.loc[ss['DISTRICT']=="SPL CELL", 'DISTRICT'] = 67
ss.loc[ss['DISTRICT']=='IGI AIRPORT', 'DISTRICT'] = 68
ss.loc[ss['DISTRICT']=='NORTH-EAST', 'DISTRICT'] = 69
ss.loc[ss['DISTRICT']=='NORTH-WEST', 'DISTRICT'] = 70
ss.loc[ss['DISTRICT']=='SOUTH-WEST', 'DISTRICT'] = 71
ss.loc[ss['DISTRICT']=="GRP(RLY)", 'DISTRICT'] = 72
ss.loc[ss['DISTRICT']=='STF', 'DISTRICT'] = 73
ss.loc[ss['DISTRICT']=='OUTER', 'DISTRICT'] = 74
ss.loc[ss['DISTRICT']=='CAW', 'DISTRICT'] = 75
ss.loc[ss['DISTRICT']=='CRIME BRANCH', 'DISTRICT'] = 76
ss.loc[ss['DISTRICT']=='EOW', 'DISTRICT'] = 77
ss.loc[ss['DISTRICT']=='SOUTH-EAST', 'DISTRICT'] = 78
ss.loc[ss['DISTRICT']=='METRO', 'DISTRICT'] = 79
ss.loc[ss['DISTRICT']=='RAILWAY', 'DISTRICT'] = 80
ss.loc[ss['DISTRICT']=='spl CELL', 'DISTRICT'] = 81
ss.loc[ss['DISTRICT']=="SPUWAC", 'DISTRICT'] = 82
ss.loc[ss['DISTRICT']=='VIGILANCE', 'DISTRICT'] = 83
ss.loc[ss['DISTRICT']=='ROHINI', 'DISTRICT'] = 84
ss.loc[ss['DISTRICT']=='SHAHDARA', 'DISTRICT'] = 85
ss.loc[ss['DISTRICT']=='DWARKA', 'DISTRICT'] = 86

In [10]:
ss["DISTRICT"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 61, 62,
       63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
       80, 81, 82, 83, 84, 85, 86, 'Alapuzha', 'Ernakulam Commr.',
       'Ernakulam Rural', 'Idukki', 'Kannur', 'Kasargod', 'Kollam',
       'Kottayam', 'Kozhikode Commr.', 'Kozhikode Rural', 'Malappuram',
       'Palakkad', 'Pathanamthitta', 'Railways', 'Thrissur',
       'Thrissur Commr.', 'Trivandrum Rural', 'Wayanadu', 'Kollam Commr',
       'Kollam Rural', 'Trivandrum commd', 'Kollam Commr.',
       'Thrissur Rural', 'Trivandrum Commr.', 'Crime Branch',
       'PONDICHERRY', 'KARAIKAL', 'PUDUCHERRY', 'Karaikal', 'Puducherry',
       'METRO RAIL'], dtype=object)

In [11]:
 
ss.loc[ss['DISTRICT']=='Alapuzha', 'DISTRICT'] = 87
ss.loc[ss['DISTRICT']=='Ernakulam Commr.', 'DISTRICT'] = 88
ss.loc[ss['DISTRICT']=='Ernakulam Rural', 'DISTRICT'] = 89
ss.loc[ss['DISTRICT']=='Idukki', 'DISTRICT'] = 90
ss.loc[ss['DISTRICT']=='Kannur', 'DISTRICT'] = 91
ss.loc[ss['DISTRICT']=='Kasargod', 'DISTRICT'] = 92
ss.loc[ss['DISTRICT']=='Kollam', 'DISTRICT'] = 93
ss.loc[ss['DISTRICT']=='Kottayam', 'DISTRICT'] = 94
ss.loc[ss['DISTRICT']=='Kozhikode Commr.', 'DISTRICT'] = 95
ss.loc[ss['DISTRICT']=='Kozhikode Rural', 'DISTRICT'] = 96
ss.loc[ss['DISTRICT']=='Malappuram', 'DISTRICT'] = 97
ss.loc[ss['DISTRICT']=='Palakkad', 'DISTRICT'] = 98
ss.loc[ss['DISTRICT']=='Pathanamthitta', 'DISTRICT'] = 99
ss.loc[ss['DISTRICT']=='Railways', 'DISTRICT'] = 100
ss.loc[ss['DISTRICT']=='Thrissur', 'DISTRICT'] = 101
ss.loc[ss['DISTRICT']=='Thrissur Commr.', 'DISTRICT'] = 102
ss.loc[ss['DISTRICT']=='Trivandrum Rural', 'DISTRICT'] = 103
ss.loc[ss['DISTRICT']=='Wayanadu', 'DISTRICT'] = 104
ss.loc[ss['DISTRICT']=='Kollam Rural', 'DISTRICT'] = 105
ss.loc[ss['DISTRICT']=='Kollam Commr', 'DISTRICT'] = 106
ss.loc[ss['DISTRICT']=='Kollam Commr.', 'DISTRICT'] = 106
ss.loc[ss['DISTRICT']=='Trivandrum commd', 'DISTRICT'] = 107
ss.loc[ss['DISTRICT']=="Trivandrum Commr.", 'DISTRICT'] = 107
ss.loc[ss['DISTRICT']=='Thrissur Rural', 'DISTRICT'] = 108
ss.loc[ss['DISTRICT']=='Crime Branch', 'DISTRICT'] = 109

In [12]:
ss["DISTRICT"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 61, 62,
       63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
       80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96,
       97, 98, 99, 100, 101, 102, 103, 104, 106, 105, 107, 108, 109,
       'PONDICHERRY', 'KARAIKAL', 'PUDUCHERRY', 'Karaikal', 'Puducherry',
       'METRO RAIL'], dtype=object)

In [13]:
ss.loc[ss['DISTRICT']=="PUDUCHERRY", 'DISTRICT'] = 110
ss.loc[ss['DISTRICT']=='Puducherry', 'DISTRICT'] = 110
ss.loc[ss['DISTRICT']=='KARAIKAL', 'DISTRICT'] = 111
ss.loc[ss['DISTRICT']=='Karaikal', 'DISTRICT'] = 111
ss.loc[ss['DISTRICT']=='PONDICHERRY', 'DISTRICT'] = 110

In [14]:
ss.loc[ss['DISTRICT']=='METRO RAIL', 'DISTRICT'] = 112

In [15]:
ss["DISTRICT"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 61, 62,
       63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
       80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96,
       97, 98, 99, 100, 101, 102, 103, 104, 106, 105, 107, 108, 109, 110,
       111, 112], dtype=object)

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
ss["STATE-todel"]=le.fit_transform(ss["STATE-todel"].astype("str"))
ss["STATE-todel"].value_counts()

3    317
0    302
1    183
2     18
Name: STATE-todel, dtype: int64

In [17]:
#from sklearn.preprocessing import LabelEncoder
#le=LabelEncoder()
#ss["DISTRICT-to-del"]=le.fit_transform(ss["DISTRICT-to-del"].astype("str"))
#ss["DISTRICT-to-del"].value_counts()

In [18]:
#ss["DISTRICT-to-del"].head()

In [19]:
X = ss[["YEAR","STATE-todel","DISTRICT"]]

In [20]:
y=ss["RAPE"]

In [21]:
ss

,DISTRICT,Sheet,STATE-todel,ASSAULT ON WOMEN,DACOITY,DOWRY DEATHS,KIDNAPPING AND ABDUCTION,MAJOR_CRIMES_TOTAL,MURDER,RAPE,RIOTS,ROBBERY,THEFT,total_crime,YEAR
0,0,2001-2012,3,64.0,0.0,1.0,26.0,233.0,27,20,19.0,9.0,76,1977,2010
1,1,2001-2012,3,45.0,2.0,16.0,47.0,1858.0,103,47,60.0,74.0,1540,10869,2010
2,2,2001-2012,3,2.0,1.0,2.0,0.0,250.0,0,0,14.0,58.0,232,647,2010
3,3,2001-2012,3,61.0,1.0,18.0,30.0,1059.0,86,29,85.0,102.0,750,8670,2010
4,4,NaN,3,39.0,11.0,1.0,62.0,664.0,41,13,83.0,78.0,425,4806,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,71,2016,0,389.0,NaN,NaN,NaN,NaN,58,171,5.0,225.0,6872,6936,2016
816,81,2016,0,1.0,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0,1756,2016
817,82,2016,0,0.0,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0,3676,2016
818,83,2016,0,0.0,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0,5243,2016
819,66,2016,0,450.0,NaN,NaN,NaN,NaN,64,256,5.0,442.0,16944,1635,2016

In [22]:
ss[ss['STATE-todel']==0].shape

(302, 15)

In [23]:
ss[ss['STATE-todel']==1].shape

(183, 15)

In [24]:
ss[ss['STATE-todel']==2].head(18)

,DISTRICT,Sheet,STATE-todel,ASSAULT ON WOMEN,DACOITY,DOWRY DEATHS,KIDNAPPING AND ABDUCTION,MAJOR_CRIMES_TOTAL,MURDER,RAPE,RIOTS,ROBBERY,THEFT,total_crime,YEAR
673,110,2001-2012,2,35.0,1.0,1.0,4.0,702.0,25,9,100.0,4.0,528,4068,2001
674,110,2001-2012,2,59.0,2.0,5.0,10.0,828.0,29,6,193.0,6.0,526,4437,2002
675,110,2001-2012,2,56.0,2.0,1.0,18.0,832.0,29,2,159.0,11.0,567,4517,2003
676,110,2001-2012,2,50.0,0.0,6.0,10.0,876.0,25,4,147.0,1.0,634,4620,2004
677,110,2001-2012,2,60.0,1.0,4.0,6.0,720.0,19,6,159.0,5.0,466,4575,2005
678,111,2001-2012,2,7.0,0.0,1.0,5.0,151.0,2,1,41.0,1.0,94,772,2006
679,110,2001-2012,2,49.0,2.0,2.0,13.0,719.0,28,8,153.0,2.0,466,3915,2006
680,111,2001-2012,2,33.0,0.0,0.0,5.0,161.0,4,3,29.0,0.0,87,766,2007
681,110,2001-2012,2,56.0,1.0,2.0,15.0,925.0,30,6,116.0,8.0,700,4288,2007
682,111,2001-2012,2,25.0,0.0,0.0,2.0,140.0,5,1,36.0,0.0,71,727,2008
683,110,2001-2012,2,40.0,10.0,2.0,15.0,840.0,30,7,129.0,10.0,617,4262,2008
684,111,2001-2012,2,16.0,0.0,0.0,1.0,99.0,6,0,25.0,0.0,51,724,2009
685,110,2001-2012,2,37.0,7.0,0.0,17.0,862.0,31,1,116.0,9.0,660,3867,2009
686,111,2001-2012,2,15.0,0.0,0.0,2.0,100.0,4,1,31.0,0.0,47,762,2010
687,111,2017,2,NaN,NaN,1.0,3.0,NaN,3,2,NaN,5.0,59,3746,2017
688,110,2017,2,NaN,NaN,1.0,12.0,NaN,22,5,NaN,13.0,593,4640,2017
689,111,2018,2,0.0,NaN,0.0,0.0,NaN,0,0,NaN,NaN,0,0,2018
690,110,2018,2,60.0,NaN,0.0,34.0,NaN,29,0,NaN,NaN,622,3606,2018

In [25]:
ss[ss['STATE-todel']==3].shape

(317, 15)

In [26]:
ss[ss['STATE-todel']==4].shape

(0, 15)

In [27]:
#poly2 = PolynomialFeatures(degree =2)
#X_poly = poly2.fit_transform(X)

In [28]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=15, random_state=0)
regressor.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=15,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [29]:
print(regressor.score(X, y))

0.9885982807423928

In [30]:
import xgboost as xg

xgb_r = xg.XGBRegressor(objective ='reg:linear', 
                  n_estimators = 10, seed = 123)

In [31]:
#xgb_r.fit(X,y)

In [32]:
#print(xgb_r.score(X, y))

In [33]:
 
YEAR =2040
STATE = 3
DISTRICT = 36
#Samples = Samples_31_July[0,0]
X1 = np.array([[YEAR,STATE,DISTRICT]])
Total_infections  = regressor.predict(X1)

In [34]:
print('Total No of cases -> {}'.format(int(Total_infections[0])))

Total No of cases -> 3

In [35]:
#import pickle

#pickle.dump(poly2,open('poly.pkl','wb'))
#pol = pickle.load(open('poly.pkl','rb'))

In [36]:
import pickle

pickle.dump(regressor,open('rap.pkl','wb'))
rap = pickle.load(open('rap.pkl','rb'))